.container
  padding: $padding_base $padding_small
  .container
    padding-left: 0
    padding-right: 0

main.content:not(:last-child)
  margin-bottom: 0

.ipad
  background-position: center center
  background-repeat: repeat-y
  background-size: 95%
  margin-bottom: -1em
  animation: animatedBackground 80s linear infinite

.container.animation--iPad
  margin-bottom: 0
  padding-bottom: 0