.container
  position: relative
  padding: $padding_small
  & > .container
    padding: $padding_small 0
  +tablet
    padding: $padding_base
    & > .container
      padding: $padding_base 0
  +desktop
    margin: 0 auto
    max-width: $desktop - 40px
    width: $desktop - 40px
  +widescreen
    max-width: $desktop - 40px
    width: $widescreen - 40px
  +fullhd
    max-width: $fullhd - 40px
    width: $fullhd - 40px

main.content:not(:last-child)
  margin-bottom: 0

.ipad
  background-position: center center
  background-repeat: repeat-y
  background-size: 95%
  margin-bottom: -1em
  animation: animatedBackground 80s linear infinite
  transform: rotateZ(360deg)
  +tablet
    max-width: 75%
    margin: auto auto -1em auto
.container.animation--iPad
  margin-bottom: 0
  padding-bottom: 0

.macbook
  max-width: 95%
  margin: auto
  background-size: 80%
  background-repeat: no-repeat
  background-position: center center
  +tablet
    max-width: 75%