.contact
  .contact_links
    li
      display: inline-block
      margin: 0 $margin_small
      &:first-of-type
        margin-left: 0
      a
        color: $turquoise
        font-size: $size-3
        border-bottom: 2px solid $blue
