footer
  min-height: $footer-height
  position: relative
  z-index: 20
  background-color: $background-indigo
  & .container
    .footer_misc
      font-size: 0.75rem
      a
        color: $action
        font-weight: $weight-bold
        border-bottom: 2px solid $blue
    +desktop
      display: flex
      justify-content: space-between
      align-items: center
