.hero.header
  color: $hero-color
  background: $hero-background
  position: relative
  .container
    display: flex
    justify-content: center
    flex-direction: column
    min-height: $hero-height - 6em
    p
      font-size: $size-2
    +desktop
      min-height: $hero-height
      background: no-repeat bottom right url('/static/base/me-young.png')
      p
       width: 75%
       font-size: $size-1
    +fullhd
      p
        width: 55%