nav
  background-color: $navbar-background
  min-height: $navbar-height
  position: relative
  & > .container
    display: flex
    justify-content: space-between
    align-items: center
    .nav_branding
      dt
        font-size: $size-1