nav
  background-color: $navbar-background
  min-height: $navbar-height
  position: relative
  z-index: 10
  & > .container
    padding: $padding_small - 1 $padding_base
    display: flex
    justify-content: space-between
    align-items: center
    .content
      margin-bottom: 0
      text-align: left
      flex-grow: 2
      .global_title
        color: $nav-header-color
        font-weight: $title-weight-bold
        padding: 0.75em 0 0.1667em
      .global_subtitle
        color: $nav-header-color_subtitle
        font-size: $size-4
        line-height: 1.333
    .nav_links .nav_item
      color: $contrast-text
      padding: $padding_xxsmall
      font-weight: $weight-bold
      font-size: $size-3
      text-decoration: underline
      background-color: $contrast-background
      &:not(:last-of-type)
        margin-right: $margin_xs_small
        +tablet
          margin-right: $margin_small
