.project_items
  position: relative
  z-index: 10
  transition: all 500ms ease
  &:first-of-type
    .container
      padding-top: $padding_xxsmall
  &:nth-child(odd)
    background-color: $background-indigo
  .project_item
    .project_item--body
      display: block
      .project_item--name
        font-size: $size-4
        font-weight: $weight-almostbold
      .project_item--details
        .project_item--details__label
          width: 70px
          text-transform: uppercase
          font-size: $size-1 - 0.20

      .project_item--content
        margin: $margin_small 0
        .project_item--content-wrap, .project_item--content-wrap p
          page-break-inside: avoid
          break-inside: avoid
          &:not(.project_item--content__Description)
            margin: $margin_small 0
        h6
          color: $grey-dark
          margin-bottom: $margin_xsxs_small
    .project_item--testimonial-wrapper
      // by default we will hide the testimonies unless passing in a class that displays them so there's flexibility on where and when to display these
      display: none
      visibility: hidden
    .project_item--preview
      display: none
      +tablet
        display: block
  &--two-col-content, &--animation-center
    +tablet
      .project_item--content
        column-count: 2
        column-gap: $padding_base
  &--mobile-image-display
    .project_item
      .project_item--preview
        display: block
  &--image_right, &--image_left
    .container
      display: flex
  &--image_right
    .container
      flex-direction: row
  &--image_left
    .container
      flex-direction: row-reverse
      &.project_item--testimonial-wrapper
        cite
          text-align: right
    .project_item--body
      +tablet
        align-content: flex-end
  &--media-flex-end
    .project_item
      .project_item--preview
        align-self: flex-end
  &--media-flex-center
    .project_item
      .project_item--preview
        align-self: center
  &--display-testimony
    .project_item
      .project_item--testimonial-wrapper
        padding-top: 0
        visibility: visible
        display: flex
        padding-bottom: $padding-base
