.project_item
  align-items: stretch
  display: flex
  flex-direction: column
  justify-content: space-between
  border-bottom: 1px solid $grey-lighter
  &:nth-child(even)
    background-color: $background
  h2.global_subtitle.project_item--subtitle
    color: $grey
  h3, & dt
    display: inline
    font-weight: $weight-bold
  &--tech, & dd
    margin-left: $margin_xsxs_small
    display: inline
    margin-right: $margin_xsxs_small
    li
      display: inline
      margin-right: $margin_xsxs_small / 2
      &:not(:last-of-type):after
          content: ","
  &--image_left
      background: no-repeat left/35%
  &--image_right
      background: no-repeat bottom right/35%
      align-self: flex-end
      .container > *
        max-width: 60%
  &--image_center
      background: no-repeat center bottom/80%
  &--testimonial
    display: none
  &--content
    div
      margin-bottom: $margin_small

