<div class="wrapper">
  <!-- Use data-www-search attribute to specify the search tab redirected to. -->
  <header class="global-nav" data-www-search="all">
    <div class="global-nav__top content-container content-container--wide">
      <div class="relative clearfix">
        <div class="global-nav__logo">
          <div class="tableau-replace--logo">
          </div>
        </div>
        <div class="global-nav__mobile-wrapper">
          <nav class="global-nav__secondary-menu">
            <div class="tableau-replace--secondary-menu">
              <!-- Placeholder for secondary menu. -->
            </div>
            <!-- Optional: insert your own menu items. Uncomment the following example
            HTML block to use. -->
            <!--
            <ul class="display-inline-block link-list link-list--inline">
              <li><a href="https://www.tableau.com/">Custom Link</a></li>
            </ul>
             -->
          </nav>

          <nav class="global-nav__primary-menu">
            <div class="tableau-replace--main-menu">
              <!-- Placeholder for main menu. -->
            </div>
          </nav>

          <div class="global-nav__search">
            <input type="search" placeholder="Search" name="q">
            <a href="#" class="global-nav__search-close"></a>
          </div>
        </div>

        <div class="global-nav__hamburger">
          <a class="hamburger " href="#">
            <span class="hamburger__patty">Menu</span>
          </a>
        </div>
      </div>
    </div>

    <div class="global-nav__drawers">
      <!-- Placeholder for menu drawers. -->
    </div>
  </header>

  <section class="section section--padding-bottom-none bg--light-gray-1">
    <div class="content-container">
      <!-- BEGIN DEMONSTRATION. -->
      <div class="text--centered" style="height:400px; margin-top:200px;">
        <h1>TABLEAU HEADER & FOOTER</h1>
        <h6>via ajax consumption (JSON or JSONP)</h6>
      </div>
      <!-- END DEMONSTRATION -->
    </div>
  </section>

  <footer class="global-footer section section--padded-one bg--dark-gray-3">
    <nav class="content-container content-container--wide">
      <div class="global-footer__first clearfix">
        <div class="global-footer__language">
          <!-- Insert custom language switcher here. See styleguide. -->
        </div>

        <div class="tableau-replace--footer-first">
          <!-- Placeholder for footer (left).-->
        </div>
      </div>
      <div class="global-footer__second clearfix">
        <div class="tableau-replace--footer-second">
          <!-- Placeholder for footer (right). -->
        </div>
      </div>
    </nav>
  </footer>
</div>
