<div class="{{modifier_class}} section">
  <div class="content-container">
    <h2>This is a Heading</h2>
    <p>
      This sentence demonstrates <a href="#">a link in content</a> to see how links look on this color. Sit sed maecenas ratione molestias qui, bibendum vulputate ut! Aspernatur nunc! Qui. Lacus nulla? Sodales curabitur purus blandit quibusdam, molestiae.
    </p>
  </div>
</div>
