<div class="docs-breakpoints-only">
  <div>
    <h1 class="desktop-show">Desktop</h1>
    <h1 class="tablet-show mobile-hide text--negative">Tablet</h1>
    <h1 class="mobile-show text--negative">Mobile</h1>
  </div>

  <p>
    <strong>Viewport width:</strong>
    <code class="desktop-show">Infinity - 961px</code>
    <code class="tablet-show mobile-hide">960px - 640px</code>
    <code class="mobile-show">639px - 0px</code>
  </p>

  <p>
    <strong>Helper classes:</strong>
    <code class="mobile-hide">mobile-hide</code>
    <code class="mobile-show">mobile-show</code>
    <code class="tablet-hide">tablet-hide</code>
    <code class="tablet-show">tablet-show</code>
    <code class="desktop-hide">desktop-hide</code>
    <code class="desktop-show">desktop-show</code>
  </p>

  <p>
    <strong>SASS variable(s):</strong>
    <code class="desktop-show">$desktop-only</code>
    <code class="mobile-hide">$tablet-min</code>
    <code class="desktop-hide">$tablet-max</code>
    <code class="tablet-show mobile-hide">$tablet-only</code>
    <code class="mobile-show">$mobile-only</code>
  </p>
</div>
