<pre>
/**
 * Some comment
 */
(function($){
  $(document).ready(function() {
    // Do some JS stuff here
  });
})(jQuery);
</pre>

<p>
  This is an example of a sentence with an inline code snippet: <code>/build/css/style.css</code>
</p>
