<div class="content-container {{ modifier_class }}">
  <p>
    Officiis, per do porta platea sunt eligendi laboriosam, delectus vulputate quasi repellendus, incididunt consequat fames magnam. Nesciunt illum, gravida quis! Euismod. Nunc, nullam nemo ad erat habitant excepturi morbi? Voluptatum ligula, expedita eaque aliquam natus. Donec! Eu sodales ullam? Eos nec consequuntur, officia pariatur wisi ridiculus mollitia eget nam quasi.
  </p>
</div>