<div class="cross-reference-3">
  {{#if title}}
    <div class="cross-reference-3__title grid--3">
      <h3 class="heading-highlight">
        {{{ title }}}
      </h3>
    </div>
  {{/if}}

  {{#if items}}
    <div class="cross-reference-3__items grid--9 grid--last">
      {{#each items}}
        {{> teaser-item }}
      {{/each}}
    </div>
  {{/if}}
</div>
