<div class="detail-field {{ modifier_class }}">
  <span class="detail-field__label">{{ label }}</span>
  <div class="detail-field__items">
    {{#items}}
    <div class="detail-field__item">
      {{ this }}
    </div>
    {{/items}}
  </div>
</div>
