<p>
  <a href="#form" class="cta">Fill Out Form</a>
</p>

<div id="form" class="flyout-form">
  <div class="form form--centered">
    <div class="form__intro">
      <h3 class="form__intro-heading">Almost there!</h3>
      <div class="form__intro-description">
        It only takes 30 seconds to fill out the form, or <a href="#sso-login">sign in</a>.
      </div>
    </div>

    <div class="form__field form-field has-float-label">
      <label class="form-field__label" for="first-name">First Name</label>
      <input class="form__control form-field__control is-empty" type="text" name="first-name" placeholder="First Name">
    </div>
    <div class="form__field form-field has-float-label">
      <label class="form-field__label" for="last-name">Last Name</label>
      <input class="form__control form-field__control is-empty" type="text" name="last-name" placeholder="Last Name">
    </div>
    <div class="form__field form-field has-float-label">
      <label class="form-field__label" for="email">Business E-mail</label>
      <input class="form__control form-field__control is-empty" type="email" name="email" placeholder="E-mail address">
    </div>
    <div class="form__field form-field has-float-label">
      <label class="form-field__label" for="organization">Organization</label>
      <input class="form__control form-field__control is-empty" type="text" name="organization" placeholder="Organization">
    </div>

    <div class="form__actions">
      <input class="form__button cta cta--secondary" type="submit" value="Submit">
    </div>
  </div>
</div>
