<div class="form form--centered">
  <div class="form-wrapper">
    <div class="form-field form__field has-float-label {{modifier_class}}">
      <label class="form-field__label" for="text-validation">Text Field:</label>
      <input class="form-field__control" type="text" name="text-validation" id="text-validation" placeholder="text">
      <div class="form-field__description"><span class="form-field__error">This field is required.</span></div>
    </div>

    <div class="form-field form__field {{modifier_class}}">
      <label class="form-field__label" for="text-validation-2">Text Field (No Placeholder)</label>
      <input class="form-field__control" type="text" name="text-validation-2" id="text-validation-2">
      <div class="form-field__description"><span class="form-field__error">This field is required.</span></div>
    </div>

    <div class="form-field form__field has-float-label {{modifier_class}}">
      <label class="form-field__label" for="email-validation">Email Field:</label>
      <input class="form-field__control" type="email" name="email-validation" id="email-validation" placeholder="email">
      <div class="form-field__description"><span class="form-field__error">This field is required.</span></div>
    </div>
  </div>
</div>
