<div class="form {{modifier_class}}">

  <div class="form__fieldset">
    <div class="form__legend">Legendary Fields</div>

    <div class="form-field has-float-label">
      <label class="form-field__label" for="text-field">Text Field:</label>
      <input class="form-field__control" type="text" name="text-field" id="text-field" placeholder="text">
      <div class="form-field__description">A description goes here.</div>
    </div>

    <div class="form-field form-field--half-width has-float-label">
      <label class="form-field__label" for="text-field">Half-width Text Field:</label>
      <input class="form-field__control" type="text" name="half-width-text-field" id="half-width-text-field" placeholder="text">
      <div class="form-field__description">A description goes here.</div>
    </div>

    <div class="form-field form-field--half-width has-float-label">
      <label class="form-field__label" for="text-field">Half-width Text Field:</label>
      <input class="form-field__control" type="text" name="half-width-text-field-2" id="half-width-text-field-2" placeholder="text">
      <div class="form-field__description">A description goes here.</div>
    </div>

    <div class="form-field">
      <label class="form-field__label" for="text-field-2">Text Field (No Placeholder)</label>
      <br>
      <input class="form-field__control" type="text" name="text-field-2" id="text-field-2">
    </div>

    <div class="form-field has-float-label">
      <label class="form-field__label" for="email-field">Email Field:</label>
      <input class="form-field__control" type="email" name="email-field" id="email-field" placeholder="email">
    </div>

    <div class="form-field has-float-label">
      <label class="form-field__label" for="password-field">Password Field:</label>
      <input class="form-field__control" type="password" name="password-field" id="password-field" placeholder="password">
    </div>

    <div class="form-field has-float-label">
      <label class="form-field__label" for="sample-textarea">Long text</label>
      <textarea class="form-field__control" rows="5" name="sample-textarea" placeholder="Long text here..."></textarea>
    </div>

    <div class="form-field">
      <label class="form-field__label" for="sample-textarea">Long text (No Placeholder)</label>
      <br>
      <textarea class="form-field__control" rows="5" name="sample-textarea"></textarea>
    </div>
  </div>

  <div class="form__fieldset">
    <div class="form__legend">More Legendary Fields</div>

    <div class="form-field has-float-label">
      <label class="form-field__label" for="sample-select">Select List</label>

      <select name="sample-select">
        <option class="form-field__option-none" value="_none" selected>- Select One -</option>
        <option value="one">Choice One</option>
        <option value="two">Choice Two</option>
        <option value="three">Choice Three</option>
        <option value="four">Choice Four</option>
      </select>
    </div>

    <div class="form-field">
      <label class="form-field__label" for="sample-select-2">Select List (No Placeholder)</label>
      <br>
      <select name="sample-select-2">
        <option class="form-field__option-none" selected>--</option>
        <option value="one">Choice One</option>
        <option value="two">Choice Two</option>
        <option value="three">Choice Three</option>
        <option value="four">Choice Four</option>
      </select>
    </div>

    <div class="form-field">
      <label class="form-field__label">Choose one or more</label>
      <div class="form-field form-field--checkbox">
        <input type="checkbox" name="example-checkbox" id="example-checkbox-1">
        <label class="form-field__label" for="example-checkbox-1">A Great Checkbox</label>
      </div>
      <div class="form-field form-field--checkbox">
        <input type="checkbox" name="example-checkbox" id="example-checkbox-2">
        <label class="form-field__label" for="example-checkbox-2">A Great Checkbox</label>
      </div>
    </div>

    <div class="form-field">
      <label class="form-field__label">Choose an option</label>
      <div class="form-field form-field--radio">
        <input type="radio" name="example-radio" id="example-radio-a">
        <label class="form-field__label" for="example-radio-a">Option A</label>
      </div>
      <div class="form-field form-field--radio">
        <input type="radio" name="example-radio" id="example-radio-b">
        <label class="form-field__label" for="example-radio-b">Option B</label>
      </div>
      <div class="form-field form-field--radio">
        <input type="radio" name="example-radio" id="example-radio-c">
        <label class="form-field__label" for="example-radio-c">Option C</label>
      </div>
    </div>
  </div>

</div>
