<div class="gallery-grid {{modifier_class}}">
  <div class="gallery-grid__item">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>item</strong>
    </div>
  </div>
  <div class="gallery-grid__item">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>item</strong>
    </div>
  </div>
  <div class="gallery-grid__item">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>item that has longer content than the others for some reason</strong>
    </div>
  </div>
  <div class="gallery-grid__item">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>item</strong>
    </div>
  </div>
  <div class="gallery-grid__item">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>item</strong>
    </div>
  </div>
  <div class="gallery-grid__item">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>item</strong>
    </div>
  </div>
  <div class="gallery-grid__item">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>item</strong>
    </div>
  </div>
</div>
