<footer class="global-footer section section--padded-two bg--dark-gray-3">
  <nav class="content-container content-container--wide">
    <div class="global-footer__first clearfix">
      {{#if languages}}
      <div class="global-footer__language">
        <span class="selected">English</span>
        <ul class="global-footer__language__options plain-list">
          {{#each languages}}
            <li{{#if selected}} class="selected"{{/if}}><a href="#">{{ language }}</a></li>
          {{/each}}
        </ul>
      </div>
      {{/if}}

      <div class="global-footer__menu">
        {{#with menu}}
          {{> link-list}}
        {{/with}}
      </div>

      <div class="global-footer__links">
        {{#with links}}
          {{> link-list}}
        {{/with}}
      </div>
    </div>

    <div class="global-footer__second clearfix">
      <div class="global-footer__social">
        {{#with social}}
          {{> link-list}}
        {{/with}}
      </div>
      <div class="global-footer__copyright">
        {{{ copyright }}}
      </div>
    </div>

  </nav>
</footer>
