<div class="global-notification">
  <div class="global-notification__wrapper content-container content-container--wide">
      <div class="global-notification__message">
      {{{ message }}}
    </div>
    <a href="#" class="global-notification__close"></a>
  </div>
</div>
