<div class="clearfix">
  <div class="grid--4">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>.grid--4</strong>
    </div>
  </div>

  <div class="grid--4">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>.grid--4</strong>
    </div>
  </div>

  <div class="grid--4">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>.grid--4</strong>
    </div>
  </div>
</div>

<hr class="spacer">

<div class="clearfix">
  <div class="grid--2">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>.grid--2</strong>
    </div>
  </div>

  <div class="grid--7">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>.grid--7</strong>
    </div>
  </div>

  <div class="grid--3">
    <div class="bg--dark-gray-1 padded-box padded-box--one">
      <strong>.grid--3</strong>
    </div>
  </div>
</div>
