<div class="hero-slideshow  {{ slideshow_id }}">
  {{#each slides }}
    <div class="hero-slideshow__slide" data-title="{{hover_title}}" data-title-class="{{hover_class}}">
      {{> hero-fixed-height }}
    </div>
  {{/each}}
</div>
