<button id="show-modal-message" class="cta">Show message</button>
<button id="show-loading-modal-message" class="cta">Show loading message</button>

<div id="modal-message" class="modal-message {{ modifier_class }}">
  <div class="modal-message__dialog">
    <div class="modal-message__icon"></div>
    <div class="modal-message__content">
      {{{ message }}}
    </div>
    <a href="#" class="modal-message__close"></a>
  </div>
</div>
