<div class="padded-box {{modifier_class}} bg--dark-gray-1">
  <h4>A box with some nice padding</h4>
  <p>
    Maxime. Temporibus minim atque ullamcorper, aptent, necessitatibus lacinia tempor volutpat irure torquent! Voluptas inventore! Consectetur minus imperdiet fringilla est, posuere, repellat porro repudiandae nam, officia elit sodales lorem! Molestias minima! Imperdiet maiores class lectus quae lacus, amet varius doloremque interdum.
  </p>
</div>
