<div class="pager-simple {{ modifier_class }}">
  <a href="#" class="pager-simple__prev">
    <i class="icon icon--chevron-left"></i>
    <span class="pager-simple__label">{{ prev.label }}</span>
  </a>
  <a href="#" class="pager-simple__next">
    <span class="pager-simple__label">{{ next.label }}</span>
    <i class="icon icon--chevron-right"></i>
  </a>
</div>
