<div class="pricing-list">
  <div class="title-box pricing-list__group pricing-list__group--double">
    <h4 class="title-box__title">Desktop</h4>
    <div class="pricing-list__inner">
      <div class="pricing-list__column title-box__inner">
        <div class="pricing_list__top">
          <h5>Personal</h5>
          <p class="pricing-list__price">$35</p>
          <p class="pricing-list__price-unit">user/month<br>(billed annually)</p>
        </div>
        <p>
          <a href="#" class="cta cta--full-width">Try Now</a>
        </p>
        <div class="pricing-list__features">
          <p>
            Analyze data and create visualizations
          </p>
          <p>
            Connect to flat files like Excel, CSV, <a href="#">and more</a>
          </p>
        </div>
        <p>
          <a href="#" class="link link--arrow">Learn more</a>
        </p>
        <div class="pricing-list__bottom">
          <p>
            <a href="#" class="cta cta--secondary cta--full-width">Buy Now</a>
          </p>
        </div>
      </div>

      <div class="pricing-list__column title-box__inner">
        <div class="pricing_list__top">
          <h5>Professional</h5>
          <p class="pricing-list__price">$70</p>
          <p class="pricing-list__price-unit">user/month<br>(billed annually)</p>
        </div>
        <p>
          <a href="#" class="cta cta--full-width">Try Now</a>
        </p>
        <div class="pricing-list__features">
          <p>
            Analyze data and create visualizations
          </p>
          <p>
            Connect to flat files, databases, web applications, <a href="#">and more</a>
          </p>
          <p>
            Publish and connect to data sources and workbooks on Tableau Server and Tableau Online
          </p>
        </div>
        <p>
          <a href="#" class="link link--arrow">Learn more</a>
        </p>
        <div class="pricing-list__bottom">
          <p>
            <a href="#" class="cta cta--secondary cta--full-width">Buy Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="title-box pricing-list__group">
    <h4 class="title-box__title">Server</h4>
    <div class="pricing-list__inner">
      <div class="pricing-list__column title-box__inner">
        <div class="pricing_list__top">
          <h5>On-Premises or<br> on Public Cloud*</h5>
          <p class="pricing-list__price">$35</p>
          <p class="pricing-list__price-unit">user/month<br>(billed annually)</p>
        </div>
        <p>
          <a href="#" class="cta cta--full-width">Try Now</a>
        </p>
        <div class="pricing-list__features">
          <p>
            Deploy on-premises or on public cloud with Amazon Web Services, Microsoft Azure, and Google Cloud Platform
          </p>
          <p>
            Centrally manage data sources and workbooks
          </p>
          <p>
            Explore analytics from any browser or mobile device
          </p>
          <p>
            Author in your browser and subscribe to workbook updates
          </p>
        </div>
        <p>
          <a href="#" class="link link--arrow">Learn more</a>
        </p>
        <div class="pricing-list__bottom">
          <p>
            <a href="#" class="cta cta--secondary cta--full-width">Buy Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="title-box pricing-list__group">
    <h4 class="title-box__title">Online</h4>
    <div class="pricing-list__inner">
      <div class="pricing-list__column title-box__inner">
        <div class="pricing_list__top">
          <h5>Fully Hosted in<br> the Cloud*</h5>
          <p class="pricing-list__price">$42</p>
          <p class="pricing-list__price-unit">user/month<br>(billed annually)</p>
        </div>
        <p>
          <a href="#" class="cta cta--full-width">Try Now</a>
        </p>
        <div class="pricing-list__features">
          <p>
            Tableau Online is the hosted version of Tableau Server, delivered as a service
          </p>
          <p>
            Centrally manage data sources and workbooks
          </p>
          <p>
            Explore analytics from any browser or mobile device
          </p>
          <p>
            Author in your browser and subscribe to workbook updates
          </p>
        </div>
        <p>
          <a href="#" class="link link--arrow">Learn more</a>
        </p>
        <div class="pricing-list__bottom">
          <p>
            <a href="#" class="cta cta--secondary cta--full-width">Contact Us</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
