<div class="search-highlight {{ modifier_class }}">
  <input type="search" data-content="{{ contentId }}" data-highlight-class="{{ highlightClass }}"/>
  <button><i class="icon icon--search"></i></button>
</div>

<div id="{{ contentId }}">
  {{#with list}}
    {{> list }}
  {{/with}}
</div>