<div class="search-result {{ modifier_class }}">

  <h3 class="search-result__title">{{{ title }}}</h3>

  <div class="search-result__summary">
    {{{ summary }}}
  </div>

  <div class="search-result__meta">
    {{#each meta-details}}
      <span class="search-result__meta-detail">
        {{{ text }}}
      </span>
    {{/each}}

    <div class="search-result__breadcrumbs">
      {{> breadcrumb-links }}
    </div>
  </div>
</div>
