<div class="section {{modifier_class}} bg--dark-gray-2">
  <div class="content-container">
    <p>
      Consequatur dis orci imperdiet repellendus occaecat! Tempor risus ullamcorper. Auctor. Lobortis? Temporibus. Senectus nostra tenetur voluptates. Possimus leo unde aenean explicabo fugiat minus. Sodales aptent necessitatibus? Facilisis incidunt. Cupiditate adipiscing? Voluptate numquam. Purus, at condimentum nostrud eu porta curabitur consequatur phasellus vel! In hac. Porttitor duis cillum voluptates, enim harum.
    </p>
  </div>
</div>