<div class="padding-one bg--dark-gray-2">
  <p>
    Maxime. Temporibus minim atque ullamcorper, aptent, necessitatibus lacinia tempor volutpat irure torquent! Voluptas inventore!
  </p>
</div>

<hr class="spacer {{ modifier_class }}">

<div class="padding-one bg--dark-gray-2">
  <p>
    Repellat porro repudiandae nam, officia elit sodales lorem! Molestias minima! Imperdiet maiores class lectus quae lacus, amet varius doloremque interdum.
  </p>
</div>
