<div class="grid--3">
  <div class="sticky {{ modifier_class }}">
    <div class="bg--green padded-box padded-box--one">
      <p>Culpa doloribus cillum ac repellendus blandit elit illum! Eaque! Aenean excepturi conubia non eum, dolorum, quidem excepteur, quisque! Magni iaculis.</p>
    </div>
  </div>
</div>
