<table>
  <thead>
    <tr>
      <th class="table-grid--7">First Column</th>
      <th class="table-grid--3">Second Column</th>
      <th class="table-grid--2">Third Column</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="table-grid--7">
        <h5>This table column is 7 grid columns wide</h5>
        <p>Ridiculus ligula platea! Convallis sint quos vehicula doloremque et adipiscing, aliquid quia, accusamus occaecat quisque consequuntur blanditiis posuere, dictum tristique, ut iaculis!</p>
      </td>
      <td class="table-grid--3">
        <p>3 grid columns</p>
      </td>
      <td class="table-grid--2">
        <p>2 grid columns</p>
      </td>
    </tr>

    <tr>
      <td class="table-grid--7">
        <h5>This table column is 7 grid columns wide</h5>
        <p>Ridiculus ligula platea! Convallis sint quos vehicula doloremque et adipiscing, aliquid quia, accusamus occaecat quisque consequuntur blanditiis posuere, dictum tristique, ut iaculis!</p>
      </td>
      <td class="table-grid--3">
        <p>3 grid columns</p>
      </td>
      <td class="table-grid--2">
        <p>2 grid columns</p>
      </td>
    </tr>

    <tr>
      <td class="table-grid--7">
        <h5>This table column is 7 grid columns wide</h5>
        <p>Ridiculus ligula platea! Convallis sint quos vehicula doloremque et adipiscing, aliquid quia, accusamus occaecat quisque consequuntur blanditiis posuere, dictum tristique, ut iaculis!</p>
      </td>
      <td class="table-grid--3">
        <p>3 grid columns</p>
      </td>
      <td class="table-grid--2">
        <p>2 grid columns</p>
      </td>
    </tr>
  </tbody>
</table>
