<div class="text-teaser-item {{ modifier_class }}">
  {{#if bundle}}<p class="text-teaser-item__type">{{ bundle }}</p>{{/if}}
  <h4 class="text-teaser-item__title">
    <a href="{{ url }}">{{ title }}</a>
  </h4>
</div>
