<div style="display: block; position: relative; max-width: 100%;">
  <div style="display: block; padding-top: 56%;">
    <iframe src="//players.brightcove.net/3798483592001/ad8b15bd-b737-4c9b-a550-53c61ac31107_default/index.html?videoId=4243191431001" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;"></iframe>
  </div>
</div>
