<section class="padded-box bg--dark-gray-1 clearfix">
  <div class="grid--6">
    {{> video_embed_responsive }}
  </div>
</section>

<section class="padded-box bg--dark-gray-2 clearfix">
  <div class="grid--6">
    {{> video_chapters}}
  </div>
</section>
